<div>
  <div *ngIf="isLoading">
    <app-splash-loader (loaderComplete)="hideLoader()"></app-splash-loader>
  </div>
  <div *ngIf="!isLoading">
    <app-main-view
      [countArray]="countArray"
      [hashtagArray]="hashtagArray"></app-main-view>
  </div>
</div>
