<div class="full-screen">
  <div class="mid-screen">
    <h3 class="text-loading">Tweet Streamer</h3>
    <i class="fa fa-twitter"></i>
    <p class="text-loading">{{ loadingText }}</p>
  </div>
</div>
