@keyframes fade-to-white {
  0%  {  background-color:#673ab7; }
  25%  {  background-color:#7446c4; }
  50%  {  background-color:#8259cb; }
  75% {  background-color:#916dd1; }
  100% {  background-color:white; }
}
.full-screen {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  animation-name: fade-to-white;
  animation-duration: 1.5s;
  text-align: center;
  font-size: 2em;
}
.mid-screen {
  margin-top: 5em;;
}
.text-loading {
  padding-top: 1em;
}
