<div class="top-nav-container" [class.top-nav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="top-nav-toolbar">
    <div class="separate-top-bar">
      <button mat-icon-button (click)="snav.toggle()" id="main_view_burger_button"><mat-icon>menu</mat-icon></button>
      <h1 class="top-app-name">
        Stream Total: {{ getCountHeader() }}
      </h1>
      <h1 *ngIf="!isTooThin">
        <a href="https://twitter.com" target="_blank" style="color: white;">
          <i class="fa fa-twitter"></i>
        </a>
      </h1>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="top-bar-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." (click)="navToHashtag()">
          <i class="fa fa-home"></i>
        </a>
        <hr>
        <h4 class="indent-top-5">Top 5 Hashtags</h4>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav" (click)="navToHashtag(nav)">{{nav}}</a>
      </mat-nav-list>
      <blockquote>
        <h4>Starting on: {{ getDateText() }}</h4>
        <h4>At: {{ getDateHoursAndMinutes() }}</h4>
      </blockquote>
    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngFor="let hashtag of selectedHashtagArray(); let i = index">
        <div [class]="getContentClass(i)">
          <p>#: {{ hashtag.hashtagText }}</p>
          <p>Count: {{ hashtag.hashtagCount }}</p>
        </div>
        <div [class]="getContentClass(i)">
          <p>Time Stamp: {{ getTimeFormat(hashtag) }}</p>
          <p>%: {{ hashtag.hashtagPercent }}</p>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>