.top-nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-nav-is-mobile .top-nav-toolbar {
  position: fixed;
  z-index: 2;
}

h1.top-app-name {
  margin-left: 8px;
}

.top-bar-sidenav-container {
  flex: 1;
}

.top-nav-is-mobile .top-bar-sidenav-container {
  flex: 1 0 auto;
}

.separate-top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.separate-top-bar > .top-app-name {
  margin-left: -2em;
}

.content-header {
  background-color:white;
  grid-template-columns: auto auto auto;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-top: 1.5em;
}

.odd-div {
  background-color:#8259cb;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-top: 1.5em;
}

.even-div {
  background-color:#916dd1;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-top: 1.5em;
}

.indent-top-5 {
  padding-left: .5em;
}
